.navbar {
  background-color: rgb(155, 0, 0);
  padding: 10px 0;
  display: flex;
  justify-content: center;
  font-size: larger;
}

.navbar a {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  background-color: white;
  color: rgb(167, 0, 0);
  border-radius: 5px;
}


.banner-image img {
  width: 100%;
  height: auto;
  opacity: 0.9;
  display: block;
}
.welcome-message p {
  font-family: 'Dancing Script', cursive; 
  color: #d9534f; 
  font-size: 1.5em; 
  text-align: center; 
  line-height: 1.6; 
  margin: 20px 0; 
  font-size: xx-large;
}
  


.table-container {
  width: calc(100% - 40px); 
  overflow-x: auto;
  padding: 20px; 
  margin: auto; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}

table {
  width: 100%;
  border-collapse: collapse; 
  table-layout: auto; 
}

th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd; 
}

th {
  background-color: rgb(202, 10, 10);
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2; 
}


table {
  font-size: 16px; 
}


table {
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


.min-height-container {
  min-height: 40vh; 
  flex-direction: column;
  justify-content: center;
}



.page-footer {
  width: 100%;
  background-color: #a00000; 
  color: #fff;
  text-align: center; 
  padding: 20px 0; 
  box-shadow: 0 -2px 5px rgba(0,0,0,0.2); 
  position: relative; 
  bottom: 0;
}

.footer-content {
  margin: 0 auto;
  padding: 0 15px; 
}

.footer-content a {
  color: #000000; 
  text-decoration: none; 
}

.footer-content a:hover {
  text-decoration: underline;
}