<head>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
</head>
<nav class="navbar">
  <a routerLink="/welcome">Home</a>
  <a routerLink="/blood-bank-info">Blood Banks</a>
  <a routerLink="/find-donor">Find a Donor</a>
  <a routerLink="/donor-info">List of Recipient</a>
  <a routerLink="/register-donor">Register Yourself</a>
  <a routerLink="/donation-info">Blood Donated</a>
</nav>
  
<div class="banner-image">
  <img src="assets/images/banner1.jpg" alt="Banner">
</div>
  
<div class="welcome-message">
  <p>Our Blood Banks</p>
</div>

<div class="filter-section">
  <div class="filter-question">
    <label for="filterPincode">Would you like to filter by pincode?</label>
  </div>
  <input class="filter-input" type="text" id="filterPincode" [(ngModel)]="filterPincode" placeholder="Enter pincode">
  <button class="filter-button" (click)="fetchFilteredBloodBankInfo()">Filter</button>
  <button class="filter-button" (click)="clearFilters()">Clear Filters</button>
</div>
  
    
  <div class="min-height-container">
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>State</th>
            <th>Pincode</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bank of bloodBanks">
            <td>{{ bank.bbank_id }}</td>
            <td>{{ bank.bbank_name }}</td>
            <td>{{ bank.address }}</td>
            <td>{{ bank.state }}</td>
            <td>{{ bank.pincode }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <footer class="page-footer">
    <div class="footer-content">
      <p>Thank you for visiting!</p>
      <p>Contact us at:<br>Email <a href="mailto:contact@example.com">contact@example.com</a></p>
      <p>Phone: 9988998898</p>
    </div>
  </footer>
  <router-outlet></router-outlet>
  